@font-face {
    font-family: 'Goldman';
    src: url(../fonts/Goldman-Regular.eot);
    src: url(../fonts/Goldman-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Goldman-Regular.woff2) format('woff2'),
        url(../fonts/Goldman-Regular.woff) format('woff'),
        url(../fonts/Goldman-Regular.ttf) format('truetype'),
        url(../fonts/Goldman-Regular.svg#Goldman-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Regular.eot);
    src: url(../fonts/OpenSans-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/OpenSans-Regular.woff2) format('woff2'),
        url(../fonts/OpenSans-Regular.woff) format('woff'),
        url(../fonts/OpenSans-Regular.ttf) format('truetype'),
        url(../fonts/OpenSans-Regular.svg#OpenSans-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}