/* Home Page */
@media (max-width: 1300px) {
 .section1 {
     width: 1000px;
     display: flex;
     justify-content: space-between;
 }
 .laptop {
     width: 600px;
     height: auto;
 }
 .section1div1 {
     width: 300px;
 }
 .laptopintro {
     font-size: 20px;
 }
 .section2 {
     width: 1000px;
 }
 .phones {
     width: 600px;
     height: auto;
 }
 .section3 {
     width: 1000px;
 }
 .section3-1 {
     width: 1000px;
 }
 .computer {
     width: 300px;
     height: auto;
 }
 .buttonfordesktop {
     width: 1000px;
 }
 .footerelements {
     width: 1000px;
 }
 .copyright {
     width: 1000px;
 }
}
@media (max-width: 1100px) {
    .section1 {
        width: 800px;
        display: flex;
        justify-content: space-between;
    }
    .laptop {
        width: 420px;
        height: auto;
    }
    .section1div1 {
        width: 300px;
        height: 300px;
    }
    .laptopintro {
        font-size: 18px;
    }
    .button {
        width: 150px;
        height: 35px;
        font-size: 16;
    }
    .section2 {
        width: 800px;
        display: flex;
        justify-content: space-between;
    }
    .section2div2 {
        width: 300px;
        height: 300px;
    }
    .phones {
        width: 420px;
        height: auto;
    }
    .section3 {
        width: 800px;
    }
    .section3-1 {
        width: 800px;
    }
    .computer {
        width: 200px;
        height: auto;
    }
    .buttonfordesktop {
        width: 800px;
    }
    .footerelements {
        width: 800px;
    }
    .copyright {
        width: 800px;
    }
}
@media (max-width: 925px) {
    .nav {
        display: none;
    }
    .burger {
        display: block;
    }
}
@media (max-width: 820px) {
    .section1 {
        width: 600px;
        height: 700px;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .laptop {
        margin-top: 150px;
    }
    .section1div1 {
        width: 420px;
        height: 420px;
    }
    .section2 {
        width: 600px;
        height: 710px;
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .section2div2 {
        width: 420px;
        height: 420px;
    }
    .phones {
        width: 420px;
        height: auto;
    }
    .section3 {
        width: 600px;
        height: 800px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .section3-1 {
        width: 600px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .computer {
        width: 300px;
        height: auto;
    }
    .first1 {
        display: none;
    }
    .last1 {
        display: none;
    }
    .buttonfordesktop {
        width: 600px;
    }
    .footer {
        width: 100%;
        height: 700px;
    }
    .footerelements {
        width: 600px;
        height: 600px;
        padding-top: 45px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .copyright {
        width: 600px;
        font-size: 14px;
    }
}
@media (max-width: 605px) {
    .section1 {
        width: 420px;
        height: 700px;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .laptop {
        margin-top: 150px;
    }
    .section1div1 {
        width: 420px;
        height: 420px;
    }
    .section2 {
        width: 420px;
        height: 710px;
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .section2div2 {
        width: 420px;
        height: 420px;
    }
    .phones {
        width: 420px;
        height: auto;
    }
    .section3 {
        width: 420px;
        height: 800px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .section3-1 {
        width: 420px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .computer {
        width: 300px;
        height: auto;
    }
    .first1 {
        display: none;
    }
    .last1 {
        display: none;
    }
    .buttonfordesktop {
        width: 420px;
    }
    .footer {
        width: 100%;
        height: 750px;
    }
    .footerelements {
        width: 420px;
        height: 600px;
        padding-top: 45px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .copyright {
        width: 420px;
        font-size: 14px;
    }
}
@media (max-width: 432px) {
    .section1 {
        width: 310px;
        height: 700px;
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .laptop {
        margin-top: 150px;
        width: 310px;
        height: auto;
    }
    .laptopintro {
        width: 300px;
        font-size: 15px;
        margin: 0 auto;
    }
    .section1div1 {
        width: 310px;
        height: 420px;
    }
    .section2 {
        width: 310px;
        height: 710px;
        margin-top: 200px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .section2div2 {
        width: 310px;
        height: 420px;
    }
    .phones {
        width: 310px;
        height: auto;
    }
    .section3 {
        width: 310px;
        height: 800px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .section3-1 {
        width: 310px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
    .computer {
        width: 300px;
        height: auto;
    }
    .first1 {
        display: none;
    }
    .last1 {
        display: none;
    }
    .buttonfordesktop {
        width: 310px;
    }
    .desktoppadding {
        padding-top: 100px;
    }
    .footer {
        width: 100%;
        height: 750px;
    }
    .footerelements {
        width: 310px;
        height: 600px;
        padding-top: 45px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .copyright {
        width: 310px;
        font-size: 14px;
    }
}
/* Phones | Laptops | Desktops */
@media (max-width: 1105px) {
    .phones1 {
        width: 800px;
    }
    .phone1 {
        width: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .phone2 {
        width: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .phone3 {
        width: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .phonemodel {
        font-size: 18px;
    }
    .productimage {
        width: 180px;
        height: 200px;
    }
    .specs {
        font-size: 15px;
        width: 230px;
    }
    .descriptiontext {
        font-size: 15px;
    }
    .descriptionmargin {
        margin-bottom: 20px;
    }
    .price {
        margin-right: 10px;
        height: 100px;
        margin-top: 60px;
    }
    .phoneprice {
        margin-left: 20px;
    }
}
@media (max-width: 801px) {
    .phones1 {
        width: 500px;
    }
    .phone1 {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .phone2 {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .phone3 {
        width: 500px;
        height: 500px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}
@media (max-width: 500px) {
    .phones1 {
        width: 310px;
    }
    .phone1 {
        width: 310px;
        height: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .phone2 {
        width: 310px;
        height: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .phone3 {
        width: 310px;
        height: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .phonemodel {
        margin: 0 auto;
        padding: 0px 0px 0px 0px;
        width: auto;
    }
    .phonetitle {
        padding-left: 50px;
        padding-top: 10px;
    }
    .specs {
        width: 250px;
        margin: 20px 0px 0px 0px;
    }
    .productimage {
        width: 200px;
        margin: 0 auto;
    }
    .phonepagephones { 
        margin: 0 auto;
    }
    .phonedescription {
        width: 250px;
        margin: 30px 0px 0px 0px;
    }
    .descriptionmargin {
        margin-bottom: 30px;
    }
    .price {
        padding-bottom: 120px;
        width: 230px;
        align-items: center;
    }
    .phoneprice {
        margin: 0 auto;
    }
    .forphones {
        margin-top: 30px;
    }
}
/* Register | Log In */
@media (max-width: 1100px) {
    .centerbutton {
        margin: 0 auto;
        margin-left: 120px;
        margin-top: 40px;
    }
}
@media (max-width: 400px) {
    .registrationcontainer {
        width: 310px;
    }
    .form-wraper {
        width: 310px;
    }
    .input {
        width: 275px;
    }
    .centerbutton {
        margin: 0 auto;
        margin-left: 80px;
        margin-top: 40px;
    }
}