/* Header */
.forcolor {
    background-color:black;
}
.headercolor {
    background:#1d1d1f;
}
.header {
    width: 1300px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1f;
}
.companyicon {
    width: 180px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.companyicon:hover {
    color: #367dff;
}
.logo {
    color: white;
    font-size: 32px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.logotextsize {
    font-size: 16px;
    padding-left: 7px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Goldman';
}
.logotextsize:hover {
    color: #367dff;
}
.nav {
    display: flex;
}
.nav-text {
    color: white;
    font-size: 20px;
    padding-right: 65px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Open Sans';
}
.nav-text:last-child {
    padding-right: 0px;
}
.nav-text:hover {
    color:  #367dff;
}
/* Header */
/* Section 1 */
.section1 {
    width: 1300px;
    height: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.section1div1 {
    width: 380px;
    height: 500px;
    padding-top: 50px;
}
.laptopintro {
    font-size: 30px;
    color: white;
}
.laptop {
    width: 900px;
    height: auto;
}
.button {
    border-style: none;
    width: 200px;
    height: 45px;
    margin:50px 0px 0px 0px;
    background-color:#367dff;
    font-size: 18px;
    color: white;
    font-family: 'Open Sans';
    border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.arrowforbutton {
    font-size: 15px;
}
.button:hover {
    color: black;
    background-color: gold;
}
/* Section 2 */
.section2 {
    width: 1300px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phones {
    width: 800px;
    height: auto;
}
.section2div2 {
    width: 400px;
    height: 300px;
}
/* Section 3 */
.section3 {
    width: 1300px;
    height: 850px;
    margin: 0 auto;
}
.section3-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 0px 0px 0px;
}
.computer {
    width: 430px;
    height: auto;
}
.desktoppadding {
    padding: 50px 0px 0px 0px;
}
.buttonfordesktop {
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Footer */
.footer {
    width: 1300px;
    height: 600px;
}