/* Header */
.bodycolor {
    background-color:#0f0f0f;
}
header {
    background-color: #1d1d1f;
}
.header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: fixed;
    z-index: 999999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1d1d1f;
}
.companyicon {
    width: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.companyicon:hover {
    color: #367dff;
}
.logo {
    color: white;
    font-size: 32px;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.logotextsize {
    font-size: 16px;
    padding-left: 7px;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Goldman';
}
.logotextsize:hover {
    color: #367dff;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-text {
    color: white;
    font-size: 20px;
    padding-right: 65px;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Open Sans';
}
.nav-text:last-child {
    padding-right: 0px;
}
.nav-text:hover {
    color:  #367dff;
}
.active {
    color: #367dff;
}
.dropbtn {
    color: white;
    font-size: 20px;
    background-color: #1d1d1f;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Open Sans';
    padding: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    padding-right: 68px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-top: 20px;
    background-color: #f1f1f1;
    transition: 0.3s;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: rgb(54, 125, 255);}
  
.burger {
    color: white;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    display: none;
}
.burger:hover {
    color: rgb(54, 125, 255);
}
/* Header */
/* Section 1 */
.section1 {
    width: 1300px;
    height: 980px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section1div1 {
    width: 380px;
    height: 500px;
    padding-top: 50px;
}
.laptopintro {
    font-size: 30px;
    color: white;
    font-family: 'Roboto';
    line-height: 35px;
}
.laptop {
    width: 900px;
    height: auto;
}
.button {
    border-style: none;
    width: 200px;
    height: 45px;
    margin:50px 0px 0px 0px;
    background-color:#367dff;
    font-size: 18px;
    color: white;
    font-family: 'Open Sans';
    border-radius: 3px;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.arrowforbutton {
    font-size: 15px;
}
.button:hover {
    color: black;
    background-color: gold;
    font-size: 20px;
}
/* Section 2 */
.section2 {
    width: 1300px;
    height: 980px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.phones {
    width: 800px;
    height: auto;
}
.section2div2 {
    width: 400px;
    height: 300px;
}
/* Section 3 */
.section3 {
    width: 1300px;
    height: 980px;
    margin: 0 auto;
}
.section3-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 130px 0px 0px 0px;
}
.computer {
    width: 430px;
    height: auto;
}
.desktoppadding {
    padding: 50px 0px 0px 0px;
}
.buttonfordesktop {
    width: 1300px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* Footer */
.footer {
    width: 100%;
    height: 350px;
    margin-top: 50px;
    background-color: #1d1d1f;
}
.footerelements {
    width: 1300px;
    margin: 0 auto;
    padding-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footersectiontitle {
    font-size: 26px;
    color: white;
    font-family: 'Open Sans';
}
.socdiv {
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.socialmedia {
    font-size: 16px;
    color: white;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.socialmediamargin {
    margin-top: 15px;
}
.socialmediatext {
    margin-left: 20px;
    font-family: 'Open Sans';
}
.socialmedia:hover {
    color:#3f729b;
}
.servicesfont {
    font-family: 'Open Sans';
}
.copyright {
    width: 1300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    margin-top: 80px;
    font-family: 'Open Sans';
    z-index: 99999;
}
.bracket {
    padding-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.bracket::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-color: white;
    height: 15px;
    width: 2px;
    margin-left: 10px;
}
.kaki {
    color: rgb(54, 125, 255);
}
/* Phones */
/* Seciton */
.phones1 {
    padding-top: 130px;
    width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
}
.phone1 {
    width: 1100px;
    height: 240px;
    background-color: #1d1d1f;
    border-radius: 2px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.phone2 {
    width: 1100px;
    height: 240px;
    background-color: #1d1d1f;
    border-radius: 2px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.phone3 {
    width: 1100px;
    height: 240px;
    background-color: #1d1d1f;
    border-radius: 2px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.phonepagephones {
    width: 200px;
    height: 200px;
}
.phonemodel {
    font-size: 20px;
    color: white;
    padding-left: 45px;
    padding-top: 20px;
    font-family: 'Roboto';
}
.phoneprice {
    font-size: 20px;
    color: white;
    font-family: 'Roboto';
}
.specs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 200px;
    font-size: 18px;
}
.specstext {
    color: white;
}
.specstextfont {
    font-family: 'Roboto';
}
.phonedescription {
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.descriptionmargin {
    margin-bottom: 16px;
}
.descriptiontext {
    font-size: 20px;
    line-height: 25px;
}
.price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 200px;
}
/* Laptops */
/* Seciton */
.laptopsize {
    width: 200px;
    height: auto;
    margin-top: 30px;
}
/* Desktops */
/* Seciton */
.computersize {
    width: 180px;
    height: auto;
    margin-top: 0px;
}
/* Register */
/* Section */
.divforheader {
    width: 320px;
    height: 80px;
    background-color: #1d1d1f;
    margin: 0 auto;
}
.registrationcontainer {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.registrationtitle {
    margin: 0 auto;
    color: rgb(54, 125, 255);
    font-size: 22px;
    font-family: 'Roboto';
}
.form-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
}
.input {
    border: none;
    outline: none;
    width: 360px;
    height: 40px;
    margin: 12px 0px 17.5px 20px;
    border: solid 1.8px #2E2E2E;
    border-radius: 3px;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Roboto';
}
.poppins {
    margin-left: 20px;
    font-family: 'Roboto';
}
/* Section Contact */
.contact-container {
    width: 1500px;
    height: 840px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.map {
    margin: 0 auto;
}
.contact-info {
    margin: 0 auto;
    height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 65px 0px 65px 0px;
}
/* Section Contact End */
/* Section About Us */
.aboutus-container {
    width: 1500px;
    height: 840px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.aboutus {
    height: 500px;
    width: 400px;
    margin: 0 auto;
}
.aboutus-title {
    color: white;
    font-size: 35px;
}
.aboutus-text {
    color: white;
    font-size: 24px;
}
/* Section About Us End */
/* Payment Container */
.payment-container {
    width: 1500px;
    height: 840px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.delivery-info {
    width: 400px;
    height: 500px;
    background-color: #1d1d1f;
    padding: 30px 0px 30px 0px;
}
.card-info {
    width: 400px;
    height: 500px;
    background-color: #1d1d1f;
    padding: 30px 0px 30px 0px;
}
.confirmation-info {
    width: 400px;
    height: 500px;
    background-color: #1d1d1f;
    padding: 30px 0px 30px 0px;
}
/* Payment Container End */
.centerbutton {
    margin: 60px 0px 0px 100px;
}
.input::-webkit-input-placeholder {
    font-family: 'Roboto';
}
.input::-moz-placeholder {
    font-family: 'Roboto';
}
.input:-ms-input-placeholder {
    font-family: 'Roboto';
}
.input::-ms-input-placeholder {
    font-family: 'Roboto';
}
.input::placeholder {
    font-family: 'Roboto';
}
.input:focus {
    border: solid 1px rgb(54, 125, 255);
}
.menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 10px;
    height: 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display: none;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(54, 125, 255,.2);
            box-shadow: 0 2px 5px rgba(54, 125, 255,.2);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 5px rgba(54, 125, 255,.2);
            box-shadow: 0 2px 5px rgba(54, 125, 255,.2);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    -webkit-transform: translateY(-16px);
        -ms-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    -webkit-transform: translateY(16px);
        -ms-transform: translateY(16px);
            transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
        -ms-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
        -ms-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
  }