/* Header */
.bodycolor {
    background-color:#0f0f0f;
}
.headercolor {
    background: #1d1d1f;
    width: 100%;
    position: fixed;
}
.header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    /* position: fixed; */
    z-index: 999999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1d1d1f;
}
.companyicon {
    width: 180px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.companyicon:hover {
    color: #367dff;
}
.logo {
    color: white;
    font-size: 32px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.logotextsize {
    font-size: 16px;
    padding-left: 7px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Goldman';
}
.logotextsize:hover {
    color: #367dff;
}
.nav {
    display: flex;
}
.nav-text {
    color: white;
    font-size: 20px;
    padding-right: 65px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Open Sans';
}
.nav-text:last-child {
    padding-right: 0px;
}
.nav-text:hover {
    color:  #367dff;
}
.active {
    color: #367dff;
}
/* Header */
/* Section 1 */
.section1 {
    width: 1300px;
    height: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.section1div1 {
    width: 380px;
    height: 500px;
    padding-top: 50px;
}
.laptopintro {
    font-size: 30px;
    color: white;
    font-family: 'Roboto';
}
.laptop {
    width: 900px;
    height: auto;
}
.button {
    border-style: none;
    width: 200px;
    height: 45px;
    margin:50px 0px 0px 0px;
    background-color:#367dff;
    font-size: 18px;
    color: white;
    font-family: 'Open Sans';
    border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.arrowforbutton {
    font-size: 15px;
}
.button:hover {
    color: black;
    background-color: gold;
    font-size: 20px;
}
/* Section 2 */
.section2 {
    width: 1300px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phones {
    width: 800px;
    height: auto;
}
.section2div2 {
    width: 400px;
    height: 300px;
}
/* Section 3 */
.section3 {
    width: 1300px;
    height: 850px;
    margin: 0 auto;
}
.section3-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 0px 0px 0px;
}
.computer {
    width: 430px;
    height: auto;
}
.desktoppadding {
    padding: 50px 0px 0px 0px;
}
.buttonfordesktop {
    width: 1300px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Footer */
.footer {
    width: 100%;
    height: 350px;
    margin-top: 50px;
    background-color: #1d1d1f;
}
.footerelements {
    width: 1300px;
    margin: 0 auto;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}
.footersectiontitle {
    font-size: 26px;
    color: white;
    font-family: 'Open Sans';
}
.socdiv {
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socialmedia {
    font-size: 16px;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}
.socialmediamargin {
    margin-top: 15px;
}
.socialmediatext {
    margin-left: 20px;
    font-family: 'Open Sans';
}
.socialmedia:hover {
    color:#3f729b;
    font-size: 20px;
}
.servicesfont {
    font-family: 'Open Sans';
}
.copyright {
    width: 1300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    margin-top: 80px;
    font-family: 'Open Sans';
    z-index: 99999;
}
.bracket {
    padding-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.bracket::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-color: white;
    height: 15px;
    width: 2px;
    margin-left: 10px;
}
.kaki {
    color: rgb(54, 125, 255);
}
/* Phones */
/* Seciton */
.phones1 {
    padding-top: 130px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.phone1 {
    width: 1100px;
    height: 240px;
    background-color: #1d1d1f;
    border-radius: 2px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.phone2 {
    width: 1100px;
    height: 240px;
    background-color: #1d1d1f;
    border-radius: 2px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.phone3 {
    width: 1100px;
    height: 240px;
    background-color: #1d1d1f;
    border-radius: 2px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.phonepagephones {
    width: 200px;
    height: 200px;
}
.phonemodel {
    font-size: 20px;
    color: white;
    padding-left: 45px;
    padding-top: 20px;
    font-family: 'Roboto';
}
.specs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    font-size: 18px;
}
.specstext {
    color: white;
}
.specstextfont {
    font-family: 'Roboto';
}
.phonedescription {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.descriptionmargin {
    margin-bottom: 16px;
}
.descriptiontext {
    font-size: 20px;
    line-height: 25px;
}
.price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}
/* Laptops */
/* Seciton */
.laptopsize {
    width: 200px;
    height: auto;
    margin-top: 30px;
}
/* Desktops */
/* Seciton */
.computersize {
    width: 180px;
    height: auto;
    margin-top: 0px;
}
/* Register */
/* Section */
.divforheader {
    width: 320px;
    height: 80px;
    background-color: #1d1d1f;
    margin: 0 auto;
}
.registrationcontainer {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.registrationtitle {
    margin: 0 auto;
    color: rgb(54, 125, 255);
    font-size: 22px;
    font-family: 'Roboto';
}
.form-wraper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.input {
    border: none;
    outline: none;
    width: 360px;
    height: 40px;
    margin: 12px 0px 17.5px 20px;
    border: solid 1.8px #2E2E2E;
    border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    font-family: 'Roboto';
}
.poppins {
    margin-left: 20px;
    font-family: 'Roboto';
}
.centerbutton {
    margin: 60px 0px 0px 100px;
}
.input::placeholder {
    font-family: 'Roboto';
}
.input:focus {
    border: solid 1px rgb(54, 125, 255);
}
html {
    scroll-behavior: smooth;
}